{#template /layout.html}

{#def breadcrumbs}
<a href="/">Blog</a> / 
{:if article/key}
    {:s article}<a href="/articles/article?key={=key}">{=title}</a>{/:s} / 
    <b>Edit article</b>
{:e}
    <b>Create article</b>
{/:if}    
{/#def}

{#def content}
<form id="articleform" method="POST" action="/articles">
    {:s article}
    <input type="hidden" name="key" value="{=key}" />
    <fieldset>
        <ol>
            <li>
                <label for="title">Title</label>
                <input type="text" name="title" value="{=title}" />
            </li>
            <li>
                <label for="summary">Summary</label>
                <textarea name="summary" id="summary" class="richtextarea" style="height: 8em">{=summary}</textarea>
            </li>
            <li>
                <label for="content">Content</label>
                <textarea name="content" id="content" class="richtextarea" style="height: 8em">{=content}</textarea>
            </li>
            <li>
                <label for="tagString">Tags</label>
                <input type="text" id="tagsString" name="tagsString" value="{=tagsString}" />
            </li>
        </ol>
    </fieldset>
    <fieldset class="submit">
        <button type="submit">Save</button>
    </fieldset>
    {/:s article}
</form>
{/#def}

{#def script}
var form = $("#articleform");

form.bind("submit", function (e) {
    e.preventDefault();
    e.stopPropagation();
    
    var f = e.target,
        errors = {},
        params = {
            key: f.key.value,
            title: f.title.value,
            summary: f.summary.value,
            content: f.content.value,
            tagsString: f.tagsString.value
        };

    if (!params.title) errors.title = "Please provide a title";
    if (!params.content) errors.content = "Please provide the content";
    
    for (var i in errors) {
        showErrors(form, errors);
        return false;
    }

    $.post("/articles", params, function (res) {
        if (res.errors) {
            $("#waiting").remove();
            showErrors(form, res.errors);
            return false;
        } else {
            window.location.href = res.uri;
        }
    });    
    
    form.find("fieldset.submit").append('<img id="waiting" src="/ajax.gif" />');    
});
{/#def}
